{% extends "base.html" %}

{% block page_title %}New Blog Page{% endblock %}

{% block page_heading %}New Post{% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="row justify-content-center">
                    <button class="btn btn-success btn-block" type="submit"><i class="fas fa-share-square"></i> Post</button>
                </div>
            </form>
            <div class="row justify-content-center">
                <a href="{% url 'get_posts' %}" class="btn btn-danger"><i class="fas fa-undo-alt"></i> Back to Blog</a>
            </div>
        </div>
    </div>
{% endblock %}
