{% extends "base.html" %}

{% block page_title %}Blog Post Page{% endblock %}

{% block page_heading %}Blog Post{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <p><span class="boldtext">Author: </span>{{ post.username }}</p>
        </div>
        <div class="col-md-10 col-sm-9">
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ post.content }}</p>
                    <p><span class="boldtext">Published On: </span>{{ post.created_date }}</p>
                    <p><span class="boldtext">Views: </span>{{ post.views }}</p>
                    <p><span class="boldtext">Tag: </span>{{ post.tag }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-danger"><i class="fas fa-undo-alt"></i> Back to Blog</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-success"><i class="fas fa-edit"></i> Edit Post</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}