{% extends "base.html" %}

{% block page_title %}Password Reset Success Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Reset Password Request Sent</h1>
    </div>
    <div class="row justify-content-center my-4">
        <p>We've e-mailed you instructions for resetting your password to the e-mail address you provided.</p>
    </div>
    <div class="row justify-content-center my-4">
        <p>You should be receiving it shortly.</p>
    </div>  
</div>
{% endblock %}