{% extends "base.html" %}

{% block page_title %}Password Confirm Page{% endblock %}

{% block content %}
<!-- Password reset form -->
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Confirm Your Password</h1>
    </div>
    {% if validlink %}
        <div class="row justify-content-center my-4">
            <p>Please enter your new password twice.</p>
        </div>
        <div class="row justify-content-center my-4">
            <p>So we can verify you typed it in correctly.</p>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.new_password1.errors }}
                                <label for="id_new_password1">New password:</label></td>
                            <td>{{ form.new_password1 }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.new_password2.errors }}
                                <label for="id_new_password2">Confirm password:</label></td>
                            <td>{{ form.new_password2 }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" class="btn btn-success" value="Change My Password"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center my-4">
            <h2>Password reset unsuccessful</h2>
        </div>
        <div class="row justify-content-center my-4">
            <p>The password reset link was invalid, possibly because it has already been used.</p>
        </div>
        <div class="row justify-content-center my-4">
            <p>Please request a new password reset.</p>
        </div>
    {% endif %}
</div>
{% endblock %}