{% extends "base.html" %}

{% block page_title %}Password Reset Complete Page{% endblock %}

{% block content %}
<!-- Password reset complete -->
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Reset Password Complete</h1>
    </div>
     <div class="row justify-content-center my-4">
        <p>Your password has been reset. You may continue to log in now.</p>
    </div>
     <div class="row justify-content-center my-4">
        <a href="{{ login_url }}" class="btn btn-success">Log in</a>
    </div>
</div>
{% endblock %}