body {
    padding-top: 100px;
    background-color: #ededed;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.success {
    background-color: #28a745;
    list-style-type: none;
}

.error {
   background-color: red;
    list-style-type: none;
}

.boldtext {
    font-weight: 500;
}

#update-form {
    display: none;
}

.card-title {
    font-size: 1.25rem;
}