body {
    margin: 0;
    overflow-x: hidden;
    padding-top: 56px;
    background-color: #ededed;
    color: #003366;
}

.navbar {
    background-color: #003366;
}

.nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

#headline {
    background-image: url(/media/headline.jpg);
    background-color: #003366;
    background-repeat: space;
    background-blend-mode: color;
    height: auto;
    width: auto;
    color: #ffffff;
}

.chart {
    width: auto;
    height: auto;
}

.success {
    color: #28a745;
    border-color: #28a745;
    background-color: #d4edda;
    list-style-type: none;
    text-align: center;
}

.error {
    color: #dc3545;
    border-color: #dc3545;
    background-color: #f8d7da;
    list-style-type: none;
    text-align: center;
}

.F {
    color: #28a745;
    border-color: #28a745;
}

.P {
    color: #ffc107;
    border-color: #ffc107;
}

.O {
    color: #dc3545;
    border-color: #dc3545;
}

.comment {
    border-color: #003366;
}

.boldtext {
    font-weight: 500;
}

#update-form {
    display: none;
}

#btn1 {
    background-color: green;
}

#btn2 {
    background-color: yellowgreen;
}

#btn3 {
    background-color: blue;
}

#btn4 {
    background-color: cyan;
}

#btn5 {
    background-color: maroon;
}

.card-title {
    font-size: 1.25rem;
}

footer {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ededed;
    background-color: #003366;
    color: #ffffff;
}