{% extends "base.html" %}

{% block page_title %}Checkout Page{% endblock %}

{% block page_heading %}Checkout{% endblock %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block content %}
    <div class="row row-flex">
        {% for item in cart_items %}
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <span>{{ item.issue.title }}</span>
                        <span><i class="fas fa-bug"></i> {{ item.issue.get_category_display }}</span>
                        <span>{{ item.issue.votes }} <i class="far fa-thumbs-up"></i></span>
                        <span>{{ item.issue.get_status_display }}</span>
                    </div>
                    <div class="card-body">
                        <span><i class="fas fa-user"></i> {{ item.issue.username }}</span>
                        <span><i class="fas fa-calendar-alt"></i> {{ item.issue.reported_date }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Total</p>
            <p><span><i class="fas fa-pound-sign"></i></span> {{ total }}</p>
        </div>
    </div>
    <form role="form" method="POST" id="payment_form" action="{% url 'checkout' %}">
    {% csrf_token %}
        <fieldset>
            <legend>Payment Details</legend>
            <div id="credit-card-errors" style="display: none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="col-md-6">
                {{ order_form | as_bootstrap }}
            </div>
            <div class="col-md-6">
                {{ payment_form | as_bootstrap }}
            </div>
            <div class="col-md-12">
                <button class="btn btn-success" id="submit-payment-button" type="submit"><i class="fas fa-check-square"></i> Submit Payment</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block stripe_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}