{% extends "base.html" %}

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% load tz %}

{% block page_title %}Issue Tracker Checkout{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Checkout</h1>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul>
                    {% for message in messages %}
                        <li id="messages" {% if message.tags %} class="alert alert-light {{ message.tags }}" role="alert"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% for item in cart_items %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card {{ item.issue.status }}">
                    <div class="card-header">
                        <div class="row justify-content-around">
                            <span class="card-title">{{ item.issue.title }}</span>
                            <span><i class="fas fa-bug"></i> {{ item.issue.get_category_display }}</span>
                            <span>{{ item.issue.votes }} <i class="far fa-thumbs-up"></i></span>
                            <span>{{ item.issue.get_status_display }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <span><i class="fas fa-user"></i> {{ item.issue.username }}</span>
                            <span><i class="fas fa-calendar-alt"></i> {{ item.issue.reported_date|timezone:"Europe/London" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-4">
            <a href="{% url 'view_cart' %}" class="btn btn-danger"><i class="fas fa-undo-alt"></i> Back to Cart</a>
        </div>
        <hr>
    {% endfor %}
    <div class="row justify-content-center my-4">
        <h4>Total: <i class="fas fa-pound-sign"></i> {{ total }}</h4>
    </div>
    <form role="form" method="POST" id="payment_form" action="{% url 'checkout' %}">
    {% csrf_token %}
        <fieldset class="form-group">
            <div id="credit-card-errors" style="display: none">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row align-items-center my-4">
                <div class="col-md-5 offset-md-1">
                    <legend>Personal Details</legend>
                    {{ order_form | as_bootstrap }}
                </div>
                <div class="col-md-5">
                    <legend>Card Details</legend>
                    {{ payment_form | as_bootstrap }}
                </div>
            </div>
            <div class="row justify-content-center my-4">
                <button class="btn btn-success" id="submit-payment-button" type="submit"><i class="fas fa-check-square"></i> Submit Payment</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block stripe_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA[
    Stripe.publishableKey = "{{ publishable }}";
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}