{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Issue Tracker Login{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Login</h1>
    </div>
    <div class="row justify-content-center">
        <p>Please enter your username / email address and password</p>
    </div>
    <div class="row justify-content-center">
        <p>Don't have an account? You can <a href="{% url 'registration' %}">Sign Up here</a></p>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{ login_form | as_bootstrap }}
                <div class="row justify-content-center my-4">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </div>
</div>
{% endblock %}