{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}
    <p>Please enter your username / email address and password</p>
    <p>Don't have an account? You can <a href="{% url 'registration' %}">Sign Up here</a></p>
    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    
    <p><a href="{% url 'password_reset' %}">Forgot Password</a></p>
{% endblock %}