{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>{{ user }}'s Profile</h1>
    </div>
    <div class="row justify-content-around my-4">
        <h3>Personal Details</h3>
        <button id="update-profile" class="btn btn-primary">Update Your Profile</button>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" enctype="multipart/form-data" id="update-form">
            {% csrf_token %}
                <fieldset class="form-group">
                    {{ update_form | as_bootstrap }}
                    <div class="row justify-content-center my-4">
                        <button type="submit" class="btn btn-success btn-block"><i class="fas fa-check-square"></i> Update Profile</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row align-items-center my-4">
        <div class="col-md-4 offset-md-1">
            <img src="{{ user.userprofile.avatar.url }}" alt="No Profile Picture" height="200" width="200" class="img-thumbnail">
        </div>
        <div class="col-md-7 pt-3">
            <p><span class="boldtext">Your Name: </span>{{ user.userprofile.full_name }}</p>
            <p><span class="boldtext">Your Email Address: </span>{{ user.email }}</p>
            <p><span class="boldtext">Your Address Line 1: </span>{{ user.userprofile.street_address1 }}</p>
            <p><span class="boldtext">Your Address Line 2: </span>{{ user.userprofile.street_address2 }}</p>
            <p><span class="boldtext">Your Town / City: </span>{{ user.userprofile.town_or_city }}</p>
            <p><span class="boldtext">Your County: </span>{{ user.userprofile.county }}</p>
            <p><span class="boldtext">Your Country: </span>{{ user.userprofile.country }}</p>
            <p><span class="boldtext">Your PostCode: </span>{{ user.userprofile.postcode }}</p>
            <p><span class="boldtext">Your Phone Number: </span>{{ user.userprofile.phone_number }}</p>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <h3>{{ user }}'s Activity</h3>
    </div>
    <div class="row align-items-center my-4">
        <div class="col-md-7">
            <img src="{{ bar_chart }}" alt="Bar Chart" class="img-fluid">
        </div>
        <div class="col-md-5 pt-3">
            <p><button id="btn1" class="btn btn-sm"></button> You have created {{ num_user_bugs }} issues as bugs on the Issue Tracker</p>
            <p><button id="btn2" class="btn btn-sm"></button> You have created {{ num_user_features }} issues as features on the Issue Tracker</p>
            <p><button id="btn3" class="btn btn-sm"></button> You have added {{ user_bug_comments }} comments to bug issues</p>
            <p><button id="btn4" class="btn btn-sm"></button> You have added {{ user_feature_comments }} comments to feature issues</p>
            <p><button id="btn5" class="btn btn-sm"></button> You have added {{ num_user_blogposts }} posts to the blog</p>
        </div>
    </div>
</div>
{% endblock %}