{% extends "base.html" %}

{% block page_title %}Issue Page{% endblock %}

{% block page_heading %}This Issue{% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <span>{{ issue.title }}</span>
                <span>{{ issue.get_category_display }}</span>
                <span>{{ issue.votes }}</span>
                <span>{{ issue.get_status_display }}</span>
            </div>
            <div class="card-body">
                <p>{{ issue.description }}</p>
                <span>{{ issue.username }}</span>
                <span>{{ issue.reported_date }}</span>
                <span><a href="{% url 'screenshot' issue.id %}" class="btn btn-info" target="_blank">View Screenshot</a></span>
            </div>
        </div>
        <div class="card">
            {% for entry in entries %}
                <div class="card-header">
                    <p>{{ entry.id }}. {{ entry.username }} on {{ entry.comment_date }} commented</p>
                </div>
                <div class="card-body">
                    <p>{{ entry.comment }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-success" type="submit">Add Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'registration' %}" class="btn btn-success">Sign Up here</a> for an account to join this discussion</p>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here</a> to comment</p>
    {% endif %}
    <a href="{% url 'issues' %}" class="btn btn-primary">Back</a>
{% endblock %}