{% extends "base.html" %}

{% block page_title %}Issues Page{% endblock %}

{% block page_heading %}Issues{% endblock %}

{% block content %}
    {% for issue in issues %}
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <span><a href="{% url 'show_issue' issue.id %}">{{ issue.title }}</a></span>
                    <span><i class="fas fa-bug"></i> {{ issue.get_category_display }}</span>
                    <span>{{ issue.votes }} <i class="far fa-thumbs-up"></i></span>
                    <span>{{ issue.get_status_display }}</span>
                </div>
                <div class="card-body">
                    <span><i class="fas fa-user"></i> {{ issue.username }}</span>
                    <span><i class="fas fa-calendar-alt"></i> {{ issue.reported_date }}</span>
                    <span>{{ issue.count }} <i class="far fa-comment-alt"></i></span>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <a class="btn btn-primary" href="{% url 'new_issue' %}"><i class="fas fa-clipboard-list"></i> Create New Issue</a>
    </div>
{% endblock %}