{% extends "base.html" %}

{% block page_title %}Issue Tracker Issues{% endblock %}

{% load tz %}

{% block content %}
<!-- Page to display all issues raised -->
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Issues</h1>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul class="message-list">
                    {% for message in messages %}
                        <li id="messages" {% if message.tags %} class="alert alert-light {{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% for issue in issues %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card {{ issue.status }}">
                    <div class="card-header">
                        <div class="row justify-content-around">
                            <span class="card-title"><a href="{% url 'show_issue' issue.id %}">{{ issue.title }}</a></span>
                            <span><i class="fas fa-bug"></i> {{ issue.get_category_display }}</span>
                            <span>{{ issue.votes }} <i class="far fa-thumbs-up"></i></span>
                            <span>{{ issue.get_status_display }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <span><i class="fas fa-user"></i> {{ issue.username }}</span>
                            <span><i class="fas fa-calendar-alt"></i> {{ issue.reported_date|timezone:"Europe/London" }}</span>
                            <span>{{ issue.count }} <i class="far fa-comment-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    <div class="row justify-content-center my-4">
        <a class="btn btn-success" href="{% url 'new_issue' %}"><i class="fas fa-clipboard-list"></i> Create New Issue</a>
    </div>
</div>
{% endblock %}