{% extends "base.html" %}

{% block page_title %}Issue Page{% endblock %}

{% block page_heading %}This Issue{% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <span>{{ issue.title }}</span>
            <span>{{ issue.get_category_display }}</span>
            <span>{{ issue.votes }}</span>
            <span>{{ issue.get_status_display }}</span>
        </div>
        <div class="card-body">
            <p>{{ issue.description }}</p>
            <span>{{ issue.username }}</span>
            <span>{{ issue.reported_date }}</span>
        </div>
        <div class="card-footer">
            {% for entry in entries %}
                <p>{{ loop.index }}. {{ entry.username }} on {{ entry.username }} added</p>
                <p>{{ entry.comment }}</p>
            {% endfor %}
        </div>
    </div>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <button class="btn btn-success" type="submit">Add Comment</button>
        </form>
    {% else %}
        <p><a href="{% url 'registration' %}" class="btn btn-success">Sign Up here</a> for an account to join this discussion</p>
        <p>Already have an account? <a href="{% url 'login' %}">Log In here</a> to comment</p>
    {% endif %}
    <a href="{% url 'issues' %}" class="btn btn-primary">Back</a>
{% endblock %}