{% extends "base.html" %}

{% block page_title %}Issue Tracker New Issue{% endblock %}

{% load bootstrap_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <h1>Raise New Issue</h1>
    </div>
    {% if messages %}
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <ul>
                    {% for message in messages %}
                        <li id="messages" {% if message.tags %} class="alert alert-light {{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
     <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="row justify-content-center my-4">
                    <button class="btn btn-success btn-block" type="submit">Create Issue</button>
                </div>
            </form>
            <div class="row justify-content-center my-4">
                <a href="{% url 'issues' %}" class="btn btn-danger"><i class="fas fa-undo-alt"></i> Return to Issues</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}